@charset "UTF-8";
/* Шрифты */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
/* @font-face {
	font-family: 'Roboto Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
} */
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

header, nav, main, section, aside, footer, article, figure {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html {
  font-size: 10px; }

input, button, textarea, select {
  font-family: inherit;
  font-size: 100%; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer;
  border-radius: 0; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  font-family: Roboto, sans-serif; }
  body.lock {
    overflow: hidden; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* 	&__search-img {
		width: 28px;

		@media(min-width: 992px) {
			width: 17px;
			margin-top: -1px;
		} 
	} */ }
  .header__upper-section {
    background-color: #fff;
    padding: 15px 0;
    /* position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 50; */
    position: relative; }
    @media (min-width: 992px) {
      .header__upper-section {
        padding: 22px 0 35px;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3; } }
    .header__upper-section::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 5; }
      @media (min-width: 992px) {
        .header__upper-section::before {
          display: none; } }
  .header__upper-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 6; }
    @media (min-width: 992px) {
      .header__logo {
        position: static;
        -ms-flex-item-align: start;
        align-self: flex-start; } }
  .header__menu--search-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (min-width: 992px) {
      .header__menu--search-btn {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline; } }
  .header__search-btn {
    font-size: 29px;
    color: #3b404f;
    margin-right: 40px;
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    position: relative;
    z-index: 6; }
    .header__search-btn.hide {
      z-index: 4; }
    @media (min-width: 992px) {
      .header__search-btn {
        font-size: 18px;
        margin-right: 0;
        margin-left: 40px;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0; } }
  .header__middle-section {
    background-color: #fab702;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s; }
    @media (min-width: 992px) {
      .header__middle-section {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; } }
    .header__middle-section_expanded {
      padding: 15px 0; }
      @media (min-width: 992px) {
        .header__middle-section_expanded {
          padding: 25px 0; } }
  .header__search {
    margin: 0 auto; }
  .header__lower-section {
    background-color: #f5f5f5;
    padding: 10px 0; }
    @media (min-width: 992px) {
      .header__lower-section {
        padding: 25px 0 10px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; } }
  .header__question-contacts {
    color: #696969;
    font-size: 1.4rem; }
  .header__lower-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden; }
  .header__question {
    line-height: 1.3;
    padding-right: 50px;
    overflow: hidden; }
  .header__contacts {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden; }
  .header__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden; }
    @media (min-width: 992px) {
      .header__flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  .header__contact-item {
    margin-bottom: 10px; }
    @media (min-width: 992px) {
      .header__contact-item {
        margin-right: 45px; } }
    .header__contact-item:last-child {
      margin-right: 0; }

.logo__link {
  display: block;
  width: 100%;
  height: 100%; }

.logo__img {
  max-width: 100%; }

@media (min-width: 992px) {
  .menu {
    padding-left: 100px; } }

.menu__icon {
  position: relative;
  z-index: 6; }

.menu__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 110px 20px 20px;
  overflow: auto;
  text-align: center;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  z-index: 4; }
  @media (min-width: 992px) {
    .menu__body {
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -14px;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
      background-color: transparent;
      width: auto;
      height: auto;
      padding: 0; } }
  .menu__body.active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }

.menu__item {
  padding: 0 0 45px; }
  @media (min-width: 992px) {
    .menu__item {
      padding: 14px 14px 0; } }

.menu__link {
  line-height: 1.3;
  color: #3b404f;
  font-size: 2.2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (min-width: 992px) {
    .menu__link {
      font-size: 1.7rem; } }
  .menu__link:hover {
    color: #fab702;
    font-weight: 500; }

.burger-icon {
  width: 30px;
  height: 20px;
  cursor: pointer; }
  @media (min-width: 992px) {
    .burger-icon {
      display: none; } }
  .burger-icon__line {
    display: block;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s; }
  .burger-icon__line:first-child {
    top: 0; }
  .burger-icon__line:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto; }
  .burger-icon__line:last-child {
    bottom: 0; }
  .burger-icon.active .burger-icon__line:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px; }
  .burger-icon.active .burger-icon__line:nth-child(2) {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .burger-icon.active .burger-icon__line:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 8px; }

.search {
  width: 100%; }
  @media (min-width: 768px) {
    .search {
      width: 75%; } }
  @media (min-width: 992px) {
    .search {
      width: 50%; } }
  .search__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .search__input {
    height: 0;
    padding: 0;
    width: 85%;
    font-size: 1.6rem;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s; }
    .search__input::-webkit-input-placeholder {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.6); }
    .search__input:-ms-input-placeholder {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.6); }
    .search__input::-ms-input-placeholder {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.6); }
    .search__input::placeholder {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.6); }
    .search__input_expanded {
      height: 39px;
      padding: 10px; }
  .search__btn {
    width: 15%;
    height: 0;
    background-color: #f5f5f5;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s; }
    .search__btn_expanded {
      height: 39px; }
    .search__btn:hover {
      background-color: #cfcfcf; }
  .search__img {
    opacity: 70%;
    height: 0;
    width: 25px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s; }
    .search__img_expanded {
      height: 25px; }

.contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  overflow: hidden; }
  .contacts-row__img-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .contacts-row__img {
    max-width: 100%; }
  .contacts-row__info {
    line-height: 1.3;
    padding-left: 7px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden; }

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .main__main-screen {
    position: relative; }

.main-screen {
  background-color: #000;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .main-screen::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2; }
  .main-screen__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .main-screen__body {
    position: relative;
    z-index: 3; }
  .main-screen__title {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .main-screen__title {
        font-size: 6.4rem;
        margin-bottom: 22px;
        width: 54.56%; } }
  .main-screen__text {
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 1.71;
    margin-bottom: 20px;
    width: 100%; }
    @media (min-width: 768px) {
      .main-screen__text {
        margin-bottom: 36px;
        width: 43.07%; } }
  .main-screen__btn {
    display: inline-block;
    width: 179px;
    height: 58px;
    overflow: hidden;
    background-color: #fab702;
    -webkit-box-shadow: 1px 0 #000;
    box-shadow: 1px 0 #000;
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 3.86;
    padding: 2px 50px;
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
    cursor: pointer; }
    .main-screen__btn:hover {
      background-color: #d29902; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg__img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; }

.consulting-estimate {
  background-color: #fab702;
  padding: 0 0 20px; }
  @media (min-width: 1060px) {
    .consulting-estimate {
      padding: 28px 0; } }
  .consulting-estimate__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 801px) {
      .consulting-estimate__flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
  .consulting-estimate__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: 2rem;
    line-height: 1.8;
    overflow: hidden;
    padding-top: 20px; }
    @media (min-width: 801px) {
      .consulting-estimate__text {
        padding-right: 80px; } }
    @media (min-width: 1060px) {
      .consulting-estimate__text {
        font-size: 3rem; } }
  .consulting-estimate__text-span {
    margin-right: 6px;
    overflow: hidden; }
  .consulting-estimate__link {
    color: #000000;
    font-style: italic;
    cursor: pointer;
    border-bottom: 2px solid;
    overflow: hidden; }
    .consulting-estimate__link:hover {
      border-bottom-color: transparent; }
  .consulting-estimate__btn {
    width: 152px;
    height: 50px;
    background-color: #ffffff;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    margin-top: 20px;
    overflow: hidden;
    color: #fab702;
    font-size: 1.4rem;
    line-height: 50px;
    display: block;
    padding: 0 39px; }
    .consulting-estimate__btn:hover {
      background-color: #00f; }
    .consulting-estimate__btn span {
      -webkit-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      transition: all .5s ease 0s; }
    .consulting-estimate__btn:hover span {
      color: #fff; }

.title {
  color: #3b404f;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.23;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 768px) {
    .title {
      font-size: 3rem; } }
  @media (min-width: 992px) {
    .title {
      font-size: 4.4rem; } }

.text {
  color: #6d7396;
  font-size: 1.4rem;
  line-height: 1.71;
  text-align: center; }
  @media (min-width: 768px) {
    .text {
      width: 56.4%; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 768px) {
    .flex {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.card-column {
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  @media (min-width: 768px) {
    .card-column {
      padding: 0 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
      flex: 0 1 33.333%; } }

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }

.card-img-block {
  position: relative;
  padding: 65.56% 0 0 0;
  overflow: hidden; }

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.subtitle {
  color: #3b404f;
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.36;
  text-transform: uppercase;
  overflow: hidden; }
  @media (min-width: 768px) {
    .subtitle {
      font-size: 1.8rem; } }
  @media (min-width: 992px) {
    .subtitle {
      font-size: 2.2rem; } }

.subtext {
  color: #6d7396;
  font-size: 1.4rem;
  line-height: 1.71;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.link-block {
  overflow: hidden; }

.link {
  color: #6d7396;
  font-size: 1.4rem;
  line-height: 1.71;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  overflow: hidden; }
  .link:hover {
    color: #ffb700;
    border-bottom: 1px solid; }

.services {
  padding: 30px 0 10px;
  background-color: #fff; }
  @media (min-width: 768px) {
    .services {
      padding: 60px 0 10px; } }
  @media (min-width: 992px) {
    .services {
      padding: 122px 0 72px; } }
  .services__text {
    margin: 15px auto 10px; }
    @media (min-width: 768px) {
      .services__text {
        margin: 21px auto 60px; } }
    @media (min-width: 992px) {
      .services__text {
        margin: 28px auto 100px; } }
  @media (min-width: 768px) {
    .services__card-column {
      margin-bottom: 40px; } }
  @media (min-width: 992px) {
    .services__card-column {
      margin-bottom: 50px; } }
  .services__subtitle {
    margin-top: 15px; }
    @media (min-width: 768px) {
      .services__subtitle {
        margin-top: 20px; } }
    @media (min-width: 992px) {
      .services__subtitle {
        margin-top: 30px; } }
  .services__subtext {
    margin: 10px 0 15px; }
    @media (min-width: 768px) {
      .services__subtext {
        margin: 15px 0 20px; } }
    @media (min-width: 992px) {
      .services__subtext {
        margin: 20px 0 24px; } }

@media (min-width: 768px) {
  .main__video-section {
    position: relative; } }

.video-section {
  background-color: #f8f8f8;
  overflow: hidden; }
  @media (min-width: 768px) {
    .video-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 768px) {
    .video-section__video-block {
      padding: 0 0 37.25%;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%; } }
  @media (min-width: 768px) {
    .video-section__video-iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; } }
  @media (min-width: 768px) {
    .video-section__content {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }
  .video-section__body {
    padding: 50px 0; }
    @media (min-width: 768px) {
      .video-section__body {
        padding: 90px 0 90px 4.39%;
        margin-left: 50%;
        width: 50%; } }
    @media (min-width: 992px) {
      .video-section__body {
        padding: 130px 0 130px 4.39%; } }
  .video-section__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 60px; }
  .video-section__img-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .video-section__img {
    max-width: 100%; }
  .video-section__text-block {
    padding-left: 40px; }
  .video-section__title {
    color: #3b404f;
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .video-section__title {
        font-size: 1.8rem;
        margin-bottom: 20px; } }
    @media (min-width: 992px) {
      .video-section__title {
        font-size: 2.2rem;
        margin-bottom: 30px; } }
  .video-section__paragraph {
    color: #6d7396;
    font-size: 1.4rem;
    line-height: 1.71; }

.featured-works {
  padding: 30px 0 0;
  background-color: #fff; }
  @media (min-width: 768px) {
    .featured-works {
      padding: 60px 0 0; } }
  @media (min-width: 992px) {
    .featured-works {
      padding: 122px 0 0; } }
  .featured-works__text {
    margin: 15px auto 10px; }
    @media (min-width: 768px) {
      .featured-works__text {
        margin: 21px auto 60px; } }
    @media (min-width: 992px) {
      .featured-works__text {
        margin: 28px auto 100px; } }
  .featured-works__tab-btns {
    margin-bottom: 60px; }

.tab-btns__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto; }
  .tab-btns__flex::-webkit-scrollbar {
    height: 0; }

.tab-btns__item {
  font-size: 1.6rem;
  text-align: center;
  color: #212121;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  white-space: nowrap; }
  .tab-btns__item + .tab-btns__item {
    margin-right: 18px; }
  .tab-btns__item:last-child {
    margin: 0; }
  .tab-btns__item:hover {
    color: #ffb700;
    border-bottom: 1px solid; }

.tab-content + .tab-content {
  display: none; }

.tab-content__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.tab-content__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%; }
  @media (min-width: 992px) {
    .tab-content__column {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%; } }
  @media (min-width: 992px) {
    .tab-content__column {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
      flex: 0 1 33.333%; } }

.tab-content__item {
  position: relative; }

.tab-content__img-block {
  padding: 0 0 60.78%;
  position: relative;
  overflow: hidden; }

.tab-content__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.tab-content__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .overlay__transparent-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .overlay__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #f8f8f8;
    padding: 15px 20px; }
    @media (min-width: 1280px) {
      .overlay__footer {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 20px 35px; } }
    @media (min-width: 1800px) {
      .overlay__footer {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 40px 21px 36px 49px; } }
  .overlay__caption {
    overflow: hidden; }
    @media (min-width: 1800px) {
      .overlay__caption {
        margin-right: 50px; } }
    .overlay__caption span {
      font-size: 1.6rem;
      font-weight: 500;
      color: #3b404f;
      text-transform: uppercase;
      white-space: nowrap;
      display: block;
      margin-bottom: 10px; }
      @media (min-width: 1280px) {
        .overlay__caption span {
          font-size: 1.8rem; } }
      @media (min-width: 1440px) {
        .overlay__caption span {
          font-size: 2rem;
          margin-bottom: 21px; } }
      @media (min-width: 1800px) {
        .overlay__caption span {
          font-size: 2.4rem; } }
    .overlay__caption::after {
      content: '';
      width: 58px;
      height: 2px;
      background-color: #6d7396;
      display: block; }
  .overlay__icons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 105px;
    height: 41px; }
    @media (min-width: 1800px) {
      .overlay__icons {
        position: static;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: auto;
        height: auto; } }
  .overlay__icon-block {
    width: 47px;
    height: 41px;
    background-color: #fab702;
    display: inline-block;
    cursor: pointer;
    position: absolute; }
    @media (min-width: 1800px) {
      .overlay__icon-block {
        margin-right: 11px; } }
    .overlay__icon-block:last-child {
      margin-left: 58px; }
      @media (min-width: 1800px) {
        .overlay__icon-block:last-child {
          margin: 0; } }
  .overlay__icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; }

.feedback {
  padding: 30px 0 0;
  background-color: #fff; }
  @media (min-width: 768px) {
    .feedback {
      padding: 60px 0 15px; } }
  @media (min-width: 992px) {
    .feedback {
      padding: 122px 0 55px; } }
  .feedback__text {
    margin: 15px auto 10px; }
    @media (min-width: 768px) {
      .feedback__text {
        margin: 21px auto 60px; } }
    @media (min-width: 992px) {
      .feedback__text {
        margin: 28px auto 100px; } }

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9; }
  @media (min-width: 992px) {
    .slider__item:nth-child(even) {
      margin-left: 15px; }
    .slider__item:nth-child(odd) {
      margin-right: 15px; } }

.slider__img {
  width: 136px;
  height: 171px; }

.slider__text-block {
  padding: 20px; }
  @media (min-width: 768px) {
    .slider__text-block {
      padding: 35px 30px 40px 22px; } }

.slider__text {
  color: #6d7396;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  line-height: 1.71;
  margin-bottom: 25px;
  padding-right: 10px; }

.slider__caption {
  color: #3b404f;
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.044rem; }

.slick-list {
  overflow: hidden;
  margin-bottom: 30px; }

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slick-dots li {
  list-style: none;
  margin: 0 5px;
  font-size: 0; }

.slick-dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f1f1f1; }

.slick-dots li.slick-active button {
  background-color: #fab702; }

.companies-block {
  padding: 35px 80px 0 80px; }
  @media (min-width: 992px) {
    .companies-block {
      padding: 75px 80px 0 80px; } }
  .companies-block__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .companies-block__img-block {
    margin: 0 10px;
    width: 230px;
    height: 115px;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 20px; }
  .companies-block__img {
    max-width: 100%; }

.statistics__data {
  padding: 0;
  background-color: #fab702; }
  @media (min-width: 768px) {
    .statistics__data {
      padding: 10px 0; } }
  @media (min-width: 992px) {
    .statistics__data {
      padding: 50px 0; } }

.statistics__contact {
  padding: 20px 0;
  background-color: #f9f9f9; }
  @media (min-width: 768px) {
    .statistics__contact {
      padding: 50px 0; } }
  @media (min-width: 992px) {
    .statistics__contact {
      padding: 100px 0; } }

@media (min-width: 768px) {
  .data__block {
    padding: 0 60px; } }

.data__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -20px; }
  @media (min-width: 768px) {
    .data__flex {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.data__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }
  @media (min-width: 768px) {
    .data__column {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
      flex: 0 1 25%; } }

.data__item {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  overflow: hidden; }

.data__name {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.71;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden; }

.data__value {
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  overflow: hidden; }
  @media (min-width: 992px) {
    .data__value {
      font-size: 5rem; } }

.contact__block {
  border: 1px solid #f1f1f1;
  border-left: 4px solid #fab702;
  background-color: #ffffff;
  padding: 0 20px 20px; }
  @media (min-width: 992px) {
    .contact__block {
      padding: 16px 40px 36px; } }

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden; }
  @media (min-width: 768px) {
    .contact__flex {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.contact__text {
  margin-top: 20px;
  overflow: hidden; }
  @media (min-width: 768px) {
    .contact__text {
      padding: 0 50px 0 0; } }

.contact__text-title {
  color: #3b404f;
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  overflow: hidden; }
  @media (min-width: 768px) {
    .contact__text-title {
      font-size: 2rem; } }

.contact__text-paragraph {
  color: #6d7396;
  font-size: 1.4rem;
  line-height: 1.71;
  overflow: hidden; }

.contact__btn {
  margin-top: 20px;
  width: 172px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  background-color: #fab702;
  color: #ffffff;
  font-size: 1.4rem;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  cursor: pointer;
  overflow: hidden; }
  .contact__btn:hover {
    background-color: #d29902; }

.featured-news {
  padding: 30px 0 10px;
  background-color: #fff; }
  @media (min-width: 768px) {
    .featured-news {
      padding: 60px 0 10px; } }
  @media (min-width: 992px) {
    .featured-news {
      padding: 122px 0 72px; } }
  .featured-news__text {
    margin: 15px auto 10px; }
    @media (min-width: 768px) {
      .featured-news__text {
        margin: 21px auto 60px; } }
    @media (min-width: 992px) {
      .featured-news__text {
        margin: 28px auto 100px; } }
  @media (min-width: 768px) {
    .featured-news__card-column {
      margin-bottom: 40px; } }
  @media (min-width: 992px) {
    .featured-news__card-column {
      margin-bottom: 50px; } }
  .featured-news__subtitle {
    margin: 15px 0 8px; }
    @media (min-width: 768px) {
      .featured-news__subtitle {
        margin: 20px 0 8px; } }
    @media (min-width: 992px) {
      .featured-news__subtitle {
        margin: 30px 0 8px; } }
  .featured-news__subtext {
    margin: 10px 0 15px; }
    @media (min-width: 768px) {
      .featured-news__subtext {
        margin: 15px 0 20px; } }
    @media (min-width: 992px) {
      .featured-news__subtext {
        margin: 20px 0 24px; } }

.date {
  color: #6d7396;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 1px;
  /* 	padding-left: 18px;
	background: url('../img/iconfinder_icon-ios7-calendar-outline_211703.png') no-repeat 0 0 / 16px 16px; */ }
  .date .fa-calendar {
    margin-right: 5px;
    margin-top: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .date span {
    text-transform: uppercase;
    overflow: hidden;
    line-height: 1.3;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }

.footer {
  /* 	&__contact-info-img-block {
		width: 18px;
		height: 15px;
		overflow: hidden;
		margin-top: 5px;
		flex: 0 0 auto;
	}

	&__contact-info-img {
		max-width: 100%;
	} */ }
  .footer__upper-section {
    background-color: #252c3a;
    padding: 25px 0 0; }
    @media (min-width: 768px) {
      .footer__upper-section {
        padding: 40px 0 15px; } }
    @media (min-width: 992px) {
      .footer__upper-section {
        padding: 77px 0 93px; } }
  .footer__upper-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 -15px; }
    @media (min-width: 768px) {
      .footer__upper-flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  .footer__column {
    margin: 0 15px 25px; }
    .footer__column:last-child {
      margin-bottom: 5px; }
      @media (min-width: 768px) {
        .footer__column:last-child {
          margin-bottom: 25px; } }
  .footer__item {
    width: 262.5px;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.64;
    overflow: hidden; }
  .footer__title {
    line-height: 1.3;
    font-size: 1.6rem;
    margin-bottom: 20px;
    overflow: hidden; }
    @media (min-width: 992px) {
      .footer__title {
        margin-bottom: 38px; } }
  .footer__posts-list {
    overflow: hidden; }
  .footer__posts-link {
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__posts-link::before {
      content: '»';
      font-size: 2rem;
      line-height: 1;
      margin-right: 8px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
    .footer__posts-link span {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
  .footer__news-body {
    overflow: hidden; }
  .footer__news-link-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #fff;
    cursor: pointer;
    overflow: hidden; }
  .footer__news-img-block {
    width: 63px;
    height: 63px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .footer__news-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .footer__news-info {
    margin-left: 15px;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .footer__news-title {
    line-height: 1.5;
    overflow: hidden; }
  .footer__news-date {
    font-size: 1.3rem;
    overflow: hidden; }
  .footer__contact-info-body {
    overflow: hidden; }
  .footer__contact-info-item:nth-child(2) .footer__contact-info-img {
    -o-object-position: 0 -48px;
    object-position: 0 -48px; }
  .footer__contact-info-item:nth-child(3) .footer__contact-info-img {
    -o-object-position: 0 -109px;
    object-position: 0 -109px; }
  .footer__contact-info-link-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #fff;
    cursor: pointer;
    overflow: hidden; }
    .footer__contact-info-link-row i[class*="fa-"] {
      margin-top: 5px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
  .footer__contact-info-span {
    margin-left: 10px;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .footer__contact-info-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -20px;
    overflow: hidden;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (min-width: 992px) {
      .footer__contact-info-row {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
  .footer__contact-info-link-icon-block {
    /* background-color: #fff;
		width: 44px;
		height: 44px; 
		border-radius: 50%; */
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 20px;
    color: #fff;
    font-size: 2.2rem;
    line-height: 1;
    -webkit-transition: -webkit-transform .1s ease 0s;
    transition: -webkit-transform .1s ease 0s;
    -o-transition: transform .1s ease 0s;
    transition: transform .1s ease 0s;
    transition: transform .1s ease 0s, -webkit-transform .1s ease 0s; }
    .footer__contact-info-link-icon-block:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  .footer__mailing-list-body {
    overflow: hidden; }
  .footer__mailing-list-form {
    overflow: hidden; }
  .footer__mailing-list-instruction {
    overflow: hidden;
    margin-bottom: 18px; }
  .footer__mailing-list-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden; }
  .footer__mailing-list-input {
    padding: 0 19px;
    background-color: #fff;
    width: 200px;
    height: 38px;
    line-height: 38px;
    color: #000;
    font-size: 1.4rem; }
    .footer__mailing-list-input::-webkit-input-placeholder {
      color: #969595;
      font-size: 1.4rem; }
    .footer__mailing-list-input:-ms-input-placeholder {
      color: #969595;
      font-size: 1.4rem; }
    .footer__mailing-list-input::-ms-input-placeholder {
      color: #969595;
      font-size: 1.4rem; }
    .footer__mailing-list-input::placeholder {
      color: #969595;
      font-size: 1.4rem; }
  .footer__mailing-list-btn {
    background-color: #fab702;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
    width: 70px;
    height: 38px;
    overflow: hidden;
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s; }
    .footer__mailing-list-btn:hover {
      background-color: #d29902; }
  .footer__mailing-list-privacy {
    color: #919191;
    line-height: 1.64;
    overflow: hidden; }
  .footer__lower-section {
    background-color: #4c5b6d;
    padding: 24px 0 4px; }
  .footer__lower-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden; }
    @media (min-width: 768px) {
      .footer__lower-flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
  .footer__copyright {
    line-height: 1.3;
    color: #d8deff;
    font-size: 1.4rem;
    text-transform: uppercase;
    overflow: hidden;
    padding-bottom: 10px; }
    @media (min-width: 768px) {
      .footer__copyright {
        padding-right: 100px; } }
  .footer__lower-list {
    margin: 10px -10px 0; }
    @media (min-width: 768px) {
      .footer__lower-list {
        margin: 0 -10px; } }

.footer-portion {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 12px 0 14px;
  overflow: hidden; }
  .footer-portion:first-child {
    padding-top: 0; }
  .footer-portion:last-child {
    border: none; }

.footer-lower-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer-lower-list__item {
    padding: 0 10px 20px;
    overflow: hidden; }
  .footer-lower-list__link {
    line-height: 1.3;
    color: #d8deff;
    font-size: 1.6rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    overflow: hidden; }
    .footer-lower-list__link:hover {
      border-bottom: 1px solid; }
    @media (min-width: 768px) {
      .footer-lower-list__link {
        font-size: 1.4rem; } }

/* ***************************************************************** */
/* section {
	flex: 1 1 auto;
} */
